* text=auto !eol
/ChangeLog -text
/Makefile.in -text
Questions/acronyms1.qns -text
Questions/ads1.qns -text
Questions/algebra1.qns -text
Questions/animals1.qns -text
Questions/authors1.qns -text
Questions/babynames1.qns -text
Questions/bdsm.qns -text
Questions/books1.qns -text
Questions/born1.qns -text
Questions/capitals1.qns -text
Questions/castles1.qns -text
Questions/crypticgroupnames1.qns -text
Questions/darkangel1.qns -text
Questions/discworld1.qns -text
Questions/eighties.qns -text
Questions/eightiesmusic1.qns -text
Questions/eightiestvmovies1.qns -text
Questions/elements1.qns -text
Questions/farscape1.qns -text
Questions/fifties1.qns -text
Questions/fiftiesmusic1.qns -text
Questions/generalknowledge1.qns -text
Questions/history18thcenturyandbefore1.qns -text
Questions/history19thcentury1.qns -text
Questions/history20thcentury1.qns -text
Questions/licenseplates1.qns -text
Questions/links.qns -text
Questions/lyrics1.qns -text
Questions/music1.qns -text
Questions/musicterms1.qns -text
Questions/nametheyear1.qns -text
Questions/nineties1.qns -text
Questions/ninetiesmusic1.qns -text
Questions/olympics1.qns -text
Questions/onthisday1.qns -text
Questions/oz1.qns -text
Questions/phobias1.qns -text
Questions/proverbs1.qns -text
Questions/quotations1.qns -text
Questions/random.qns -text
Questions/rhymetime1.qns -text
Questions/saints1.qns -text
Questions/seventies1.qns -text
Questions/seventiesmusic1.qns -text
Questions/sexterms1.qns -text
Questions/simpsons1.qns -text
Questions/sixties1.qns -text
Questions/sixtiesmusic1.qns -text
Questions/smallville1.qns -text
Questions/sports1.qns -text
Questions/stargatesg11.qns -text
Questions/tvmovies1.qns -text
Questions/uk1.qns -text
Questions/unscramble1.qns -text
Questions/us1.qns -text
Questions/uselessfactsandtrivia1.qns -text
/README.TriviaServ -text
/RELNOTES -text
/TriviaServ.c -text
/TriviaServ.h -text
/TriviaServ_help.c -text
/TriviaUser.c -text
/configure -text
/configure.in -text
/install-sh -text
/modconfig.h.in -text
/modconfigwin32.h -text
/triviaserv.vcproj -text
