* text=auto !eol
/ChangeLog -text
/Makefile.in -text
Questions/acronyms.txt -text
Questions/ads.txt -text
Questions/algebra.txt -text
Questions/animals.txt -text
Questions/authors.txt -text
Questions/babynames.txt -text
Questions/bdsm.txt -text
Questions/books.txt -text
Questions/born.txt -text
Questions/capitals.txt -text
Questions/castles.txt -text
Questions/crypticgroupnames.txt -text
Questions/darkangel.txt -text
Questions/discworld.txt -text
Questions/eighties.txt -text
Questions/eightiesmusic.txt -text
Questions/eightiestvmovies.txt -text
Questions/elements.txt -text
Questions/farscape.txt -text
Questions/fifties.txt -text
Questions/fiftiesmusic.txt -text
Questions/generalknowledge.txt -text
Questions/history18thcenturyandbefore.txt -text
Questions/history19thcentury.txt -text
Questions/history20thcentury.txt -text
Questions/licenseplates.txt -text
Questions/links.txt -text
Questions/lyrics.txt -text
Questions/music.txt -text
Questions/musicterms.txt -text
Questions/nametheyear.txt -text
Questions/nineties.txt -text
Questions/ninetiesmusic.txt -text
Questions/olympics.txt -text
Questions/onthisday.txt -text
Questions/oz.txt -text
Questions/phobias.txt -text
Questions/proverbs.txt -text
Questions/quotations.txt -text
Questions/rhymetime.txt -text
Questions/saints.txt -text
Questions/seventies.txt -text
Questions/seventiesmusic.txt -text
Questions/sexterms.txt -text
Questions/simpsons.txt -text
Questions/sixties.txt -text
Questions/sixtiesmusic.txt -text
Questions/smallville.txt -text
Questions/sports.txt -text
Questions/stargatesg1.txt -text
Questions/tvmovies.txt -text
Questions/uk.txt -text
Questions/unscramble.txt -text
Questions/us.txt -text
Questions/uselessfactsandtrivia.txt -text
/README.TriviaServ -text
/TriviaServ.c -text
/TriviaServ.h -text
/TriviaServ_help.c -text
/TriviaUser.c -text
/configure -text
/configure.in -text
/install-sh -text
/modconfig.h.in -text
/questions.txt -text
